@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* Utilites */

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f1faee;
}

.btn-dark {
    padding: 10px 40px;
    background: #e63946;
    color: #f1faee;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: 700;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #457b9d;
}

.btn-light {
    padding: 10px 40px;
    background: #f1faee;
    color: #457b9d;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: 700;
    cursor: pointer;
}

.btn-light:hover {
    background: #1f2937;
    color: #f1faee;
}

/* NAVBAR */

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    margin: 25px 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.navbar a{
    color: #f1faee;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.navbar a:hover {
   border-bottom: 2px dotted #e63946;
   font-size: 0.95rem;
}

.logo {
    font-size: 18px;
    color: #f1faee;
}

/* Hero */

.hero {
    display: flex;
    margin-bottom: 30px;
    color: #f1faee;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.left h2 {
    margin-top: 5px;
    font-size: 48px;
    font-weight: 700;
}

.left p {
    font-size: 15px;
    margin: 5px 0;
}

.left span {
    color: #e63946;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #838892;
    border-radius: 8px;
background: url(../img/design-gd8735cd90_640.png) no-repeat center center/cover;
}

/* information Section */

.info {
    display: flex;  
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: space-around;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
}

.info-container {
    display: flex;
    gap: 20px;

}

.box-container {
    max-width: 140px;
    margin: 0 20px;
}

.box {
    background: #f1faee;
    border: 4px solid #457b9d;
    border-radius: 15px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #1f2937;
}

.box.one {
    background: #e63946;
    border: #e63946;
}

.box.two {
    background: #f1faee;
    border: 3px dashed #457B9D;

}

.box.three {
    background: #457b9d;
}

.box.four {
    background: #1f2937;
    border: #1f2937;
}

.box p {
    color: #f1faee;
    margin: 2px;
    font-weight: 700;
}

.box.two p {
    color: #457B9D;
}

/* Quote Section  */

.quote {
    background: #457b9d;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    max-width: 70%;
    color: #f1faee;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-container .first {
    text-align: justify;
    font-size: 30px;
    font-style: italic;
}

.quote-container .second {
    margin-top: 10px;
    font-size: 22px;
    align-self: flex-end;
    font-weight: 700;
    color: #1f2937;
}

/* Sig-up Section */

.sign-up {
    display: flex;
    min-height: 25vh;
    justify-content: center;
    align-items: center;
}

.sign-up .sign-container {
    display: flex;
    align-items: center;
    width: 1200px;
    background: #e63946;
    margin: 0 20px;
    min-height: 100px;
    justify-content: space-around;
    padding: 0 20px;
    border-radius: 10px;
}

.sign-up .sign-text {
    color: #f1faee;
    font-weight: 700;
}